{% extends "Root.html" %}

{% block pagetitle %}
    {% if object.name %}
        Update {{ object.name }}
    {% else %}
        Add Server
    {% endif %}
{% endblock pagetitle %}


{% block content %}
    <form action="" method="post">{% csrf_token %}
        <ul>
            {{ form.as_ul }}
            {% if object.resides %}<li><b>Resides in:</b> {{ object.resides }}</li>{% endif %}
            {% if object.created %}<li>Created: {{ object.created }}</li>{% endif %}
            {% if object.modified %}<li>Last modified: {{ object.modified }}</li>{% endif %}
            <li>
                <input type="submit" class="btn btn-sm btn-info" value="save" />
                {% if object.get_absolute_url %}
                    <a class="btn btn-sm btn-default" href="{{ object.get_absolute_url }}">Cancel</a>
                {% else %}
                    <a class="btn btn-sm btn-default" href="{% url 'inventory:machine:index' %}">Cancel</a>
                {% endif %}
            </li>
        </ul>
    </form>
{% endblock %}
