{% extends "Root.html" %}

{% block InventoryView %} active {% endblock %}

{% block pagetitle %}{{ model.name_of_class }}: {{ object }}{% endblock pagetitle %}

{% block content %}
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="text-center">{{ object }}</h2>
        </div>
        <div class="panel-body">
            <table class="table table-responsive">
                <tr>
                    <th class="text-left" width="25%">
                        {% if get_prev.exists %}
                            <a href="{{ get_prev.get.get_absolute_url }}">previous</a>
                        {% endif %}
                    <th class="text-right" width="25%">
                        <a href="{% url url_cancel %}">index </a>
                    </th>
                    <th class="text-left" width="25%">
                        <a href="{% url url_edit pk=object.id %}"> edit</a>
                    <th class="text-right" width="25%">
                        {% if get_next.exists %}
                            <a href="{{ get_next.get.get_absolute_url }}">next</a>
                        {% endif %}
                    </th>
                </tr>
            </table>
            <table class="table table-striped table-responsive table-condensed">
                {% if object.status %}
                    <tr>
                        <th class="col-md-6 text-right">Status:</th>
                        <td class="col-md-6 text-left">{{ object.get_status_display }}</td>
                    </tr>
                {% endif %}
                {% if object.company %}
                    <tr>
                        <th class="col-md-6 text-right">Company:</th>
                        <td class="col-md-6 text-left">
                            <a href="{{ object.company.get_absolute_url }}">{{ object.company }}</a>
                        </td>
                    </tr>
                {% endif %}
                {% if object.customer_of %}
                    <tr>
                        <th class="col-md-6 text-right">Customer of:</th>
                        <td class="col-md-6 text-left">
                            <a href="{{ object.customer_of.get_absolute_url }}">{{ object.customer_of }}</a>
                        </td>
                    </tr>
                {% endif %}
                {% if object.sla_policy %}
                <tr>
                    <th class="col-md-6 text-right">SLA policy:</th>
                    <td class="col-md-6 text-left">{{ object.sla_policy|linebreaksbr }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th class="col-md-6 text-right">Notes:</th>
                    <td class="col-md-6 text-left">{{ object.notes|linebreaksbr }}</td>
                </tr>
                <tr>
                    <th class="col-md-6 text-right">Last updated:</th>
                    <td class="col-md-6 text-left">{{ object.modified }}</td>
                </tr>
                {% if object.doc_url %}
                    <tr>
                        <th class="col-md-6 text-right">Documentation:</th>
                        <td class="col-md-6 text-left">
                            <a href="{{ object.doc_url }}">{{ object.doc_url|truncatechars:32 }}</a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th class="col-md-6 text-right">Recent tickets for this {{ model.name_of_class|lower }}:</th>
                    <td class="col-md-6 text-left">
                        <ul>
                            {% for this in object.recent_tickets %}
                                <li>
                                    <a href="{{ this.get_absolute_url }}">
                                        #{{ this.id }}
                                        ({{ this.get_status_display }})
                                        {{ this.name|truncatechars:16 }}
                                    </a>
                                </li>
                            {% empty %}
                                <em>-none-</em>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if object.company_set.count %}
                    <tr>
                        <th class="col-md-6 text-right">
                            Customer Companies
                            <span class="badge">{{ object.company_set.count }}</span>
                            <p class="small"><a href="{# url 'inventory:company:related' pk=object.pk, related=company #}">view all</a></p>
                        </th>
                        <td class="col-md-6 text-left">
                            <ul>
                                {% for this in object.company_set.all %}
                                    <li><a href="{{ this.get_absolute_url }}">{{ this }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                {% if object.domain_set.count %}
                    <tr>
                        <th class="col-md-6 text-right">
                            <a href="{# url 'inventory:company:related' pk=object.pk, related=domain #}">Domains</a>
                            <span class="badge">{{ object.domain_set.count }}</span>
                        </th>
                        <td class="col-md-6 text-left">
                            <ul>
                                {% for this in object.domain_set.all|slice:":10" %}
                                    <li><a href="{{ this.get_absolute_url }}">{{ this }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                {% if object.application_set.exists %}
                    <tr>
                        <th class="col-md-6 text-right">
                            Applications
                            <span class="badge">{{ object.application_set.count }}</span>
                        </th>
                        <td class="col-md-6 text-left">
                            <ul>
                                {% for this in object.application_set.all|slice:":10" %}
                                    <li><a href="{{ this.get_absolute_url }}">{{ this }}</a></li>
                                {% endfor %}
                            </ul>
                            {% if object.application_set.count > 0 %}
                                <p class="text-right">
                                    <a href="{# url 'inventory:company:related' pk=object.pk, related=application #}">(view all)</a>
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
