{% extends "Root.html" %}

{% block InventoryView %} active {% endblock %}

{% block content %}
    <h4>{{ page_title }}</h4>
    <form action="" method="post">{% csrf_token %}
        <ul>
            {{ form.as_ul }}
            {# form.as_table #}
            {% if object.created %}<li>Created: {{ object.created }}</li>{% endif %}
            {% if object.modified %}<li>Last modified: {{ object.modified }}</li>{% endif %}
        </ul>
        <input type="submit" class="btn btn-sm btn-info" value="save" />
        <a class="btn btn-sm btn-default" href="{{ href_cancel }}">Cancel</a>
    </form>
{% endblock %}
