{% extends "Root.html" %}

{% block InventoryView %} active {% endblock %}

{% block pagetitle %}inventory\index.html{% endblock pagetitle %}

{% block content %}
    <ul>
        <li><a href="{% url 'inventory:server:list' %}">Servers</a></li>
        <li><a href="{% url 'inventory:domain:index' %}">Domains</a></li>
        <li><a href="{% url 'inventory:application:list' %}">Applications</a></li>
    </ul>
    <pre>Some long-winded explination about the Zen of Servers and how we're all lucky and how back in your day...</pre>
{% endblock %}
