{% extends "Root.html" %}

{% block pagetitle %}
    {% if object.name %}
        Update {{ object.name }}
    {% else %}
        Add application
    {% endif %}
{% endblock pagetitle %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        <ul style="list-style:none">
            {{ form.as_ul }}
            {% if object.created %}<li>Created: {{ object.created }}</li>{% endif %}
            {% if object.modified %}<li>Last modified: {{ object.modified }}</li>{% endif %}

            <input type="submit" class="btn btn-sm btn-info" value="save" />
            {% if object.get_absolute_url %}
                <a class="btn btn-sm btn-default" href="{{ object.get_absolute_url }}">Cancel</a>
            {% else %}
                <a class="btn btn-sm btn-default" href="{% url 'inventory:domain:index' %}">Cancel</a>
            {% endif %}
        </ul>
    </form>
{% endblock %}
