{% extends "Root.html" %}

{% block pagetitle %}{{ object }}{% endblock pagetitle %}

{% block content %}
    <ul style="list-style:none">
        <li>
            <h4><a href="{% url 'inventory:domain:index' %}">⬅️</a> | Domain: {{ object }}</h4>
        </li>
        <li>
            <p>{{object.company}}</p>
        </li>
        <li>
            <blockquote>{{ object.sla_policy }}</blockquote>
        </li>
        <li>
            <a href="{% url 'inventory:domain:update' pk=object.id %}">Edit</a> - Last updated: {{ object.modified }}
        </li>
    </ul>
    <hr>
    <h4>Recent tickets for this domain:</h4>
    <ul>
        {% for this in domain.ticket_set.all %}
            <li><a href="{{ this.get_absolute_url }}">
                #{{ this.id }}
                ({{ this.get_status_display }})
                {{ this.name|truncatechars:16 }}
            </a></li>
        {% endfor %}
    </ul>
{% endblock %}
