{% extends "Root.html" %}

{% block pagetitle %}Create ticket{% endblock pagetitle %}

{% block content %}{{ form.non_field_errors }}
    <form action="" method="post">{% csrf_token %}{{ form.status.as_hidden }}
        <ul>Create new ticket:</ul>
        <ul>{{ form.body }} {{ form.body.errors }}</ul>
        <ul>{{ form.domain.label }} {{ form.domain }} {{ form.domain.errors }}</ul>
        <ul>{{ form.can_link_related.label }} {{ form.can_link_related }} {{ form.can_link_related.errors }}</ul>
        <ul><input type="submit" class="btn btn-sm btn-info" value="SAVE" /></ul>
    </form>
{% endblock %}
