{% extends "Root.html" %}

{% block content %}
<h1>{{ object.name|truncatechars:64 }}</h1>
    <ul>
        <li>
            <pre>{{ object.notes }}</pre>
        </li>
        <li><a href="{% url 'ticket:update' environment=object.environment pk=object.id %}">[edit]</a></li>
    </ul>


    <form action="{% url 'ticket:reply' environment=object.environment pk=object.id %}" method="post">
        {{ replyform }}
        {% csrf_token %}
        <input type="submit" class="btn btn-sm btn-info" value="save" />
    </form>
{% endblock %}
